<script type="text/javascript">var exports = {}</script>

<div class="jumbotron" style="margin-top:50px" id="startScreen">
    <h1>Welcome!</h1>
    <p>Ready for your next adventure?</p>
    <p><a class="btn btn-primary btn-lg" role="button" id="startHikeButton">Start hike</a></p>
</div>

<div id="mainScreen" style="display:none">
    <a class="btn btn-primary btn-lg" role="button" id="stopHikeButton">Stop hike</a>
    <div id="map">
        * Map goes here *
    </div>
</div>

@Scripts.Render("~/bundles/app")
