<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start lat/long</th>
                <th>End lat/long</th>
                <th>Points</th>
            </tr>
        </thead>

        <tbody id="historyTable">
        </tbody>
    </table>
</div>

@Scripts.Render("~/bundles/history-app")